<html>

<h1>Generic database details<h1> 

<h3>DB_MASTER</h3>
{{ db_master }}

<h3>DB_HOST</h3>
{{ db_host }}

<h3>DB_USER</h3>
{{ db_user }}

<h3>DB_PASS</h3>
{{ db_pass }}

<h3>DB_PORT</h3>
{{ db_port }}


</html>

